# SPDX-FileCopyrightText: 2023-2024, Rylie Pavlik
# SPDX-License-Identifier: CC0-1.0

Mitchell Dowd <mitchell.dowd@live.com>
Mitchell Dowd <mitchell.dowd@live.com> <mitchell.dowd@multipli.com>
Mitchell Dowd <mitchell.dowd@live.com> <mitchell.dowd@teamleasing.com.au>
Mitchell Dowd <mitchell.dowd@live.com> <mitchell.dowd@winning.com.au>

Rylie Pavlik <rylie.pavlik@collabora.com>
Rylie Pavlik <rylie.pavlik@collabora.com> <ryan.pavlik@collabora.com>
Rylie Pavlik <rylie.pavlik@collabora.com> <ryan.pavlik@gmail.com>
